body {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(10, 10, 10));;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}

.selector {
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: none;
    button {
        padding: 10px;
        border: 0;
        border: 1px rgb(0, 0, 0) solid;
        border-radius: 10px;
        background: linear-gradient(201deg, rgb(46, 38, 57), rgb(58, 21, 107));
        margin: 5px;
        margin-left: 6px;
        color: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
    img {
        margin: 20px;
        display: block; margin-left: auto; margin-right: auto;
        box-shadow: 0px 0px 500px 5px white;
        border-radius: 40px;
    }
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
        color: rgb(100, 100, 100);
    }
}

.authorization {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: left 0.5s;
    text-align: -webkit-center;
    background-color: rgb(20, 20, 20);
    padding: 100px;
    padding-top: 50px;
    padding-left: 80px;
    padding-right: 110px;
    width: 300px;
    border-radius: 10px;
    position: fixed;
    left: 75px;
    .username, .password {
        display: inline-flex;
        svg {
            font-family: Arial, Helvetica, sans-serif;
            text-align: -webkit-center;
            width: 24;
            fill: none;
            stroke: currentcolor;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            position: relative;
            left: 30px;
            height: 20px;
            color: white;
            top: 1px;
        }
        input[type=password], input[type=mail] {
            margin-bottom: 10px;
            padding: 5px;
            padding-left: 33px;
            padding-right: 5px;
            border: none;
            border-radius: 30px;
            background-color: rgb(46, 46, 46);
            color: white;
        }
    }
    .submit {
        border: none;
        width: 210px;
        margin-left: 28px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: rgb(30, 95, 216);
        color: white;
    }
    h2 {
        margin-right: -23px;
    }
}